In [5]:
for item in range(0,20):
    print (item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for item in range(11,20):
    print (item)

11
12
13
14
15
16
17
18
19

In [10]:
list=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:")
print(len(list))

Number of item in the List2:
7

In [11]:
text = "Artificial Intelligence"
for ch in text:
    print(ch)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
listOfWords = ["-Your Name-", "-Your Age-", "-Your Profession-"]
for word in listOfWords:
 print(word)

-Your Name-
-Your Age-
-Your Profession-

In [14]:
mixered = (1, 'Welcome', 2, 'Hope')
print(mixered)

(1, 'Welcome', 2, 'Hope')

In [17]:
# Tuple 1
T1 = (0, 1, 2, 3)
# Tuple 2 (nested tuple)
T2 = (T1, ('python', 'HOPE'))
print(T2)

((0, 1, 2, 3), ('python', 'HOPE'))

In [21]:
list=(20,10,16,19,25,1,276,188)
print (list)
 
for n in list:
    if n % 2 != 0:
        print (n,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [22]:
list=(20,10,16,19,25,1,276,188)
print (list)
 
for n in list:
    if n % 2 == 0:
        print (n,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd